src/main/resources/schemas/soap/UserAllUsers/schemaAllUsers.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://tempuri.org/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GetUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UserList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="User">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" />
                                        <xs:element name="cource" type="xs:string" />
                                        <xs:element name="email" type="xs:string" />
                                        <xs:element name="age" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>